.App {
  text-align: center;
}

.App--nav-bar {
  color: whitesmoke;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.player-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-picture-item {
  height: 400px;
  width: 400px;
  overflow: hidden;
}

.player-picture-item img {
  height: 350px;
  width: auto;
}

.player-stats-item {
  height: 400px;
  width: 400px;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: aqua;
}

.performance-selector-item {
  height: 20px;
  width: 100px;
}

.performance-submit-item {
  height: 20px;
  width: 100px;
}

.nav-link {
  color: aliceblue;
}
